crypt-direction {
  --border: var(--border-3);
  --border-radius: var(--radius-2);

  display: flex;
  flex-direction: row;
  background-color: var(--paper-dark);
  padding: var(--border);
  border-radius: calc(var(--border) + var(--border-radius));

  & input[type='radio'] {
    display: none;
  }

  & label {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    border-radius: var(--border-radius);
    padding: var(--space-1);

    &:has(input[type='radio']:checked) {
      background-color: var(--paper-light);
    }
  }
}
