crypt-direction {
  display: flex;
  flex-direction: row;
  background-color: var(--paper-dark);
  padding: var(--border-2);
  border-radius: var(--radius-2);

  & input[type='radio'] {
    display: none;
  }

  & label {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    border-radius: var(--radius-2);
    padding: var(--space-1);

    &:has(input[type='radio']:checked) {
      background-color: var(--paper-light);
      color: var(--ink-0);
    }

    &:has(input[type='radio']:not(:checked)) {
      color: var(--ink-2);

      &:hover {
        color: var(--ink-0);
      }
    }
  }
}
