num-words {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
  flex-wrap: wrap;
  min-height: var(--input-height);

  &[hidden] {
    display: none;
  }

  & .selector-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);

    & input[type='radio'] {
      appearance: none;
      box-sizing: content-box;
      width: var(--space-3);
      height: var(--space-3);
      line-height: var(--space-3);
      border-radius: var(--radius-1);

      &:checked,
      &:hover {
        &:before {
          content: attr(value);
          display: block;
          text-align: center;
          transition:
            color var(--duration-1),
            border-color var(--duration-1);
        }
      }

      &:hover:not(:checked) {
        &:before {
          color: var(--ink-2);
        }
      }

      &[data-above='false'] {
        border-color: var(--ink-1);
      }

      &[data-above='true'] {
        background: var(--paper);
      }

      &:hover {
        background: var(--paper-light);
      }
    }
  }
}
