num-words {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-2);

  &[hidden] {
    display: none;
  }

  & label {
    line-height: 3;
  }

  & .selector-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);

    & input[type='radio'] {
      appearance: none;
      margin: 0;
      padding: 0;
      width: var(--space-3);
      height: var(--space-3);
      border-radius: var(--radius-1);

      &:checked,
      &:hover {
        &:before {
          content: attr(value);
          display: block;
          text-align: center;
          width: var(--space-3);
          height: var(--space-3);
        }
      }
    }
  }
}
