num-words {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-1);
  flex-wrap: wrap;
  min-height: var(--input-height);

  &[hidden] {
    display: none;
  }

  & .selector-container {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);

    & input[type='radio'] {
      appearance: none;
      width: var(--space-3);
      height: var(--space-3);
      line-height: var(--space-3);
      border-radius: var(--radius-1);

      &:checked,
      &:hover {
        &:before {
          content: attr(value);
          display: block;
          text-align: center;
        }
      }
    }
  }
}
