pass-phrase {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  padding: var(--space-1);
  min-width: fit-content;
  border-radius: var(--radius-1);

  background-color: var(--paper);
}
