:root {
  /* Colors */

  color-scheme: light dark;

  --color-green-1: #f1fbf4;
  --color-green-5: #77da89;
  --color-green-9: #061209;

  --ink-0: light-dark(#000000, #000000);
  --paper-0: light-dark(#ffffff, #ffffff);

  --ink-1: light-dark(#e4e4e4, #e4e4e4);

  --paper-primary: var(--color-green-5);
  --ink-primary: var(--color-green-9);

  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Sizes */

  --font-size: 16px;

  --border-1: 1px;

  --space-1: 8px;
  --space-2: 16px;

  --radius-1: 7px;
  --radius-2: 14px;

  --input-height: 40px;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input,
  textarea,
  button {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer typography {
  body {
    font-size: var(--font-size);
  }
}

@layer layout {
  html,
  body {
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: var(--space-2);
    gap: var(--space-2);
    padding: var(--space-2);
    border-radius: var(--radius-2);
    box-shadow: var(--box-shadow);
  }

  button,
  input {
    border: var(--border-1) solid;
    border-radius: var(--radius-1);
    height: var(--input-height);
    padding-inline: var(--space-1);
  }

  button {
    width: fit-content;
  }
}

@layer colors {
  body {
    background-color: var(--color-green-1);
  }

  main {
    color: var(--ink-0);
    background-color: var(--paper-0);
  }

  button,
  input {
    color: var(--ink-0);
    background-color: var(--paper-0);
    border-color: var(--ink-1);
  }

  button,
  input {
    outline-color: var(--ink-0);
  }

  button:hover {
    filter: brightness(0.95);
  }

  button.primary {
    background-color: var(--paper-primary);
    color: var(--ink-primary);
    border-color: var(--paper-primary);
  }

  input[type='checkbox'] {
    accent-color: var(--ink-0);
  }
}

@layer interactions {
  :where(
    button:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled),
    label:has(input:not(:disabled))
  ):is(:hover) {
    cursor: pointer;
  }
}
