/*
 * Import custom elements styles.
 *
 * @remark As they are imports, they must be on top otherwise they are ignored.
 */
@import url('./elements/files-list.css');
@import url('./elements/num-words.css');
@import url('./elements/pass-phrase.css');

:root {
  /* Colors */

  color-scheme: light dark;

  --color-green-1: #f1fbf4;
  --color-green-5: #77da89;
  --color-green-9: #061209;

  --ink-0: light-dark(#000000, #000000);
  --paper-0: light-dark(#ffffff, #ffffff);

  --ink-1: light-dark(#e4e4e4, #e4e4e4);

  --paper-primary: var(--color-green-5);
  --ink-primary: var(--color-green-9);

  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Sizes */

  --font-size: 16px;

  --border-1: 1px;
  --border-2: 2px;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;

  --radius-1: 8px;
  --radius-2: 16px;

  --input-height: 48px;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input,
  textarea,
  button {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer typography {
  body {
    /* font-family: is set by i18n-controller */
    font-size: var(--font-size);
  }
}

@layer layout {
  html,
  body {
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: var(--space-2);
    gap: var(--space-2);
    padding: var(--space-2);
    border-radius: var(--radius-2);
    box-shadow: var(--box-shadow);
  }

  button,
  input {
    border: var(--border-1) solid;
    border-radius: var(--radius-1);
    height: var(--input-height);
    padding-inline: var(--space-2);
  }

  button {
    width: fit-content;
  }

  .input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-1);
  }

  .input-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }
}

@layer colors {
  body {
    background-color: var(--color-green-1);
  }

  main {
    color: var(--ink-0);
    background-color: var(--paper-0);
  }

  button,
  input {
    color: var(--ink-0);
    background-color: var(--paper-0);
    border-color: var(--ink-1);
  }

  *:focus-visible {
    outline: var(--border-2) solid var(--ink-0);
  }

  button:hover {
    filter: brightness(0.95);
  }

  button:disabled {
    filter: grayscale(80%);
  }

  button.primary {
    background-color: var(--paper-primary);
    color: var(--ink-primary);
    border-color: var(--paper-primary);
  }

  input[type='checkbox'] {
    accent-color: var(--ink-0);
  }
}

@layer interactions {
  :where(
    button:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled),
    .input-checkbox:has(input:not(:disabled)),
    .input-checkbox:has(input:not(:disabled)) > label,
    .input-text:has(input:not(:disabled)),
    .input-text:has(input:not(:disabled)) > label
  ):is(:hover) {
    cursor: pointer;
  }
}
