/*
 * Import custom elements styles.
 *
 * @remark As they are imports, they must be on top otherwise they are ignored.
 */
@import url('./elements/crypt-direction.css');
@import url('./elements/files-list.css');
@import url('./elements/num-words.css');
@import url('./elements/pass-phrase.css');

:root {
  /* Colors */

  color-scheme: light dark;

  --black: #000;
  --white: #fff;

  --green-0: hsl(140, 47%, 89%);
  --green-1: hsl(140, 43%, 81%);
  --green-2: hsl(140, 39%, 73%);
  --green-3: hsl(140, 35%, 65%);
  --green-4: hsl(140, 31%, 57%);
  --green-5: hsl(140, 27%, 49%);
  --green-6: hsl(140, 23%, 41%);
  --green-7: hsl(140, 19%, 33%);
  --green-8: hsl(140, 15%, 25%);
  --green-9: hsl(140, 11%, 17%);

  --ink-0: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 95%));
  --ink-1: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 70%));
  --ink-2: light-dark(hsl(0, 0%, 55%), hsl(0, 0%, 45%));
  --ink-3: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));

  --paper-dark: light-dark(hsl(20, 10%, 90%), hsl(10, 1%, 7%));
  --paper: light-dark(hsl(20, 10%, 95%), hsl(10, 1%, 11%));
  --paper-light: light-dark(hsl(20, 10%, 99%), hsl(10, 1%, 17%));

  /* Sizes */

  --font-size: 16px;

  --border-1: 1px;
  --border-2: 2px;
  --border-3: 4px;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;

  --radius-1: 8px;
  --radius-2: 16px;

  --input-height: 40px;

  --max-width: 800px;
  --min-width: 520px;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input,
  textarea,
  button {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer typography {
  body {
    /* font-family: is set by font-loader */
    font-size: var(--font-size);
  }

  input[type='text'] {
    text-overflow: ellipsis;
  }

  label {
    text-wrap: nowrap;
  }
}

@layer layout {
  html,
  body {
    height: 100%;
  }

  #splash-screen {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
  }

  main {
    --padding: var(--space-2);
    display: flex;
    flex-direction: column;
    min-width: calc(var(--min-width) - 2 * var(--padding));
    max-width: var(--max-width);
    margin: var(--space-2);
    gap: var(--space-2);
    padding: var(--padding);
    border-radius: var(--radius-2);
  }

  button,
  input {
    border: var(--border-1) solid;
    border-radius: var(--radius-1);
    height: var(--input-height);
  }

  button {
    width: fit-content;
    padding-inline: var(--space-2);
  }

  input[type='text'] {
    padding-inline: var(--space-1);
  }

  .input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-1);
  }

  .input-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }
}

@layer colors {
  body {
    background-color: light-dark(var(--green-1), var(--green-8));
  }

  #splash-screen {
    background-color: light-dark(var(--white), var(--black));
  }

  main {
    color: var(--ink-0);
    background-color: var(--paper-light);
  }

  button,
  input {
    color: var(--ink-0);
    background-color: var(--paper-light);
    border-color: var(--ink-3);
  }

  button:hover,
  input:hover {
    border-color: var(--ink-0);
  }

  button:focus-visible,
  input:focus-visible {
    outline: var(--border-2) solid var(--ink-1);
    outline-radius: var(--radius-1);
  }

  *::selection {
    background-color: light-dark(var(--green-0), var(--green-9));
    color: light-dark(var(--green-9), var(--green-0));
  }

  button:disabled {
    background-color: var(--paper-dark);
    color: var(--ink-2);
    border-color: var(--ink-3);
  }

  button.primary:not(:disabled) {
    background-color: light-dark(var(--green-1), var(--green-8));
    color: light-dark(var(--green-8), var(--green-1));
    border-color: light-dark(var(--green-6), var(--green-4));
  }

  input[type='checkbox'] {
    accent-color: var(--ink-0);
  }

  label {
    color: var(--ink-1);

    &:has(input:checked) {
      color: var(--ink-0);
    }

    &:has(input:not(:checked)) {
      color: var(--ink-2);

      &:hover {
        color: var(--ink-0);
      }
    }
  }

  .input-checkbox {
    &:has(input:checked) > label {
      color: var(--ink-0);
    }

    &:has(input:not(checked)) > label {
      color: var(--ink-2);
    }

    &:has(input:not(checked)) > label:is(:hover) {
      color: var(--ink-0);
    }
  }
}

@layer interactions {
  :where(
    button:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled),
    label:has(input:not(:disabled):not(:checked)),
    .input-checkbox:has(input:not(:disabled)),
    .input-checkbox:has(input:not(:disabled)) > label,
    .input-text:has(input:not(:disabled)),
    .input-text:has(input:not(:disabled)) > label
  ):is(:hover) {
    cursor: pointer;
  }

  button,
  label {
    user-select: none;
  }
}
