/*
 * Import custom elements styles.
 *
 * @remark As they are imports, they must be on top otherwise they are ignored.
 */
@import url('./elements/crypt-direction.css');
@import url('./elements/files-list.css');
@import url('./elements/num-words.css');
@import url('./elements/pass-phrase.css');

:root {
  /* Colors */

  color-scheme: light dark;

  --primary: oklch(0.83 0.29 140);

  --ink-0: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 95%));
  --ink-1: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 70%));
  --ink-2: light-dark(hsl(0, 0%, 55%), hsl(0, 0%, 45%));
  --ink-3: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));

  --paper-dark: light-dark(hsl(20, 10%, 90%), hsl(10, 1%, 7%));
  --paper: light-dark(hsl(20, 10%, 95%), hsl(10, 1%, 11%));
  --paper-light: light-dark(hsl(20, 10%, 99%), hsl(10, 1%, 17%));

  /* Sizes */

  --body-font-size: 16px;

  --border-1: 1px;
  --border-2: 2px;
  --border-3: 4px;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;

  --radius-1: 8px;
  --radius-2: 16px;

  --input-height: 40px;

  --max-width: 800px;
  --min-width: 520px;

  /* Interactions */

  --duration-1: 250ms;
}

@layer typography {
  body {
    /* font-family: is set by font-loader */
    font-size: var(--body-font-size);
    line-height: 1.5;
  }

  input,
  textarea,
  button {
    font-family: inherit;
    font-size: inherit;
    line-height: var(--input-height);
  }

  input[type='text'] {
    text-overflow: ellipsis;
  }

  label {
    text-wrap: nowrap;
  }
}

@layer layout {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html,
  body {
    height: 100%;
  }

  body {
    box-sizing: border-box;
    /* Hide scrollbars, in particular on Windows */
    overflow: hidden;
  }

  #splash-screen {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
  }

  main {
    --padding: var(--space-2);
    display: flex;
    flex-direction: column;
    min-width: calc(var(--min-width) - 2 * var(--padding));
    max-width: var(--max-width);
    margin: var(--space-2);
    gap: var(--space-2);
    padding: var(--padding);
    border-radius: var(--radius-2);
  }

  button,
  input {
    border: var(--border-1) solid;
    border-radius: var(--radius-1);
    height: var(--input-height);
  }

  button {
    width: fit-content;
    padding-inline: var(--space-2);
  }

  input[type='text'] {
    padding-inline: var(--space-1);
  }

  .input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-1);
    max-width: fit-content;
  }

  .input-text {
    display: flex;
    flex-direction: column;

    & > label {
      line-height: 2;
    }
  }
}

@layer colors {
  body {
    background: light-dark(
      oklch(from var(--primary) 0.9 0.03 h),
      oklch(from var(--primary) 0.17 0.05 h)
    );
  }

  *::selection {
    background: light-dark(
      oklch(from var(--primary) 0.8 c h / 0.2),
      oklch(from var(--primary) l c h / 0.2)
    );
    color: light-dark(
      oklch(from var(--primary) calc(l * 0.71) c h),
      oklch(from var(--primary) l c h)
    );
  }

  #splash-screen {
    background: light-dark(#fff, #000);
  }

  main {
    color: var(--ink-0);
    background: var(--paper-light);
  }

  button,
  input {
    color: var(--ink-0);
    background: var(--paper-light);
    border-color: var(--ink-3);

    &:hover {
      border-color: var(--ink-0);
    }

    &:focus-visible {
      outline: var(--border-2) solid var(--ink-1);
      outline-radius: var(--radius-1);
    }
  }

  button {
    &:disabled {
      background: var(--paper-dark);
      color: var(--ink-2);
      border-color: var(--ink-3);
    }

    &.primary:not(:disabled) {
      background: light-dark(
        oklch(from var(--primary) 0.96 calc(c * 0.2) h),
        oklch(from var(--primary) 0.4 calc(c * 0.3) h)
      );
      color: light-dark(
        oklch(from var(--primary) calc(l * 0.71) c h),
        oklch(from var(--primary) l calc(c * 0.71) h)
      );
      border-color: var(--primary);

      &:hover,
      &:focus-visible {
        color: oklch(from var(--primary) calc(l * 0.1) calc(c * 0.1) h);
        background: var(--primary);
      }
    }
  }

  input[type='checkbox'] {
    accent-color: var(--ink-0);
  }

  input[type='text'] {
    &:read-only {
      background: var(--paper);
      cursor: default;
    }
  }

  label {
    color: var(--ink-1);

    &:has(input:checked) {
      color: var(--ink-0);
    }

    &:has(input:not(:checked)) {
      color: var(--ink-2);

      &:hover {
        color: var(--ink-0);
      }
    }
  }

  .input-checkbox {
    &:has(input:checked) > label {
      color: var(--ink-0);
    }

    &:has(input:not(checked)) > label {
      color: var(--ink-2);
    }

    &:has(input:not(checked)) > label:is(:hover) {
      color: var(--ink-0);
    }
  }
}

@layer interactions {
  :where(
    button:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled),
    label:has(input:not(:disabled):not(:checked)),
    .input-checkbox:has(input:not(:disabled)),
    .input-checkbox:has(input:not(:disabled)) > label,
    .input-text:has(input:not(:disabled)),
    .input-text:has(input:not(:disabled)) > label
  ):is(:hover) {
    cursor: pointer;
    transition:
      border-color var(--duration-1),
      background-color var(--duration-1),
      color var(--duration-1);
  }

  button,
  label {
    user-select: none;
  }
}
