@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input,
  textarea,
  button {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer typography {
  body {
    font-size: 16px;
  }
}

@layer elements {
  button {
    cursor: pointer;
    width: fit-content;
  }
}

@layer app {
  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}
