/*
 * Import custom elements styles.
 *
 * @remark As they are imports, they must be on top otherwise they are ignored.
 */
@import url('./elements/crypt-direction.css');
@import url('./elements/files-list.css');
@import url('./elements/num-words.css');
@import url('./elements/pass-phrase.css');

:root {
  /* Colors */

  color-scheme: light dark;

  --black: #000;
  --white: #fff;

  --green-0: hsl(140, 50%, 95%);
  --green-1: hsl(140, 50%, 85%);
  --green-2: hsl(140, 50%, 75%);
  --green-3: hsl(140, 50%, 65%);
  --green-4: hsl(140, 50%, 55%);
  --green-5: hsl(140, 50%, 45%);
  --green-6: hsl(140, 50%, 35%);
  --green-7: hsl(140, 50%, 25%);
  --green-8: hsl(140, 50%, 15%);
  --green-9: hsl(140, 50%, 5%);

  --ink-0: light-dark(hsl(0, 0%, 5%), hsl(0, 0%, 95%));
  --ink-1: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 70%));
  --ink-2: light-dark(hsl(0, 0%, 55%), hsl(0, 0%, 45%));
  --ink-3: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));

  --paper-dark: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 0%));
  --paper: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 5%));
  --paper-light: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 10%));

  /* Sizes */

  --font-size: 16px;

  --border-1: 1px;
  --border-2: 2px;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;

  --radius-1: 8px;
  --radius-2: 16px;

  --input-height: 48px;

  --max-width: 710px;
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input,
  textarea,
  button {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer typography {
  body {
    /* font-family: is set by i18n-controller */
    font-size: var(--font-size);
  }
}

@layer layout {
  html,
  body {
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: var(--space-2);
    gap: var(--space-2);
    padding: var(--space-2);
    border-radius: var(--radius-2);
  }

  button,
  input {
    border: var(--border-1) solid;
    border-radius: var(--radius-1);
    height: var(--input-height);
    padding-inline: var(--space-2);
  }

  button {
    width: fit-content;
  }

  .input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-1);
  }

  .input-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }
}

@layer colors {
  body {
    background-color: light-dark(var(--green-0), var(--green-9));
  }

  main {
    color: var(--ink-0);
    background-color: var(--paper-light);
  }

  button,
  input {
    color: var(--ink-0);
    background-color: var(--paper-light);
    border-color: var(--ink-3);
  }

  button:hover,
  input:hover {
    border-color: var(--ink-0);
  }

  button:focus-visible,
  input:focus-visible {
    outline: var(--border-2) solid var(--ink-1);
    outline-radius: var(--radius-1);
  }

  *::selection {
    background-color: light-dark(var(--black), var(--white));
    color: light-dark(var(--white), var(--black));
  }

  button:hover {
    filter: brightness(0.95);
  }

  button:disabled {
    filter: grayscale(80%);
  }

  button.primary {
    background-color: var(--green-4);
    color: var(--green-9);
    border-color: var(--green-6);
  }

  input[type='checkbox'] {
    accent-color: var(--ink-0);
  }
}

@layer interactions {
  :where(
    button:not(:disabled),
    input[type='checkbox']:not(:disabled),
    input[type='radio']:not(:disabled),
    label:has(input:not(:disabled):not(:checked)),
    .input-checkbox:has(input:not(:disabled)),
    .input-checkbox:has(input:not(:disabled)) > label,
    .input-text:has(input:not(:disabled)),
    .input-text:has(input:not(:disabled)) > label
  ):is(:hover) {
    cursor: pointer;
  }

  label {
    user-select: none;
  }
}
